{% comment %}
	Client Logo block
	Accepts:
	- block: block object
{% endcomment %}
{% liquid
	capture animation_attr
		render 'animation-attr', type: block.settings.animation_type
	endcapture
%}
<div class="gsp-block__{{ block.id }} gsp-block gsp-block-client-logo" {{- animation_attr -}} {{ block.shopify_attributes }}>
	<div class="gsp-block__inner">
		{% render 'el__client-logo', args: block %}
	</div>
</div>