{% comment %}
	Simple Text block
	Accepts:
	- block: block object
{% endcomment %}
{% liquid
	capture animation_attr
		render 'animation-attr', type: block.settings.animation_type
	endcapture
%}
<div class="gsp-block__{{ block.id }} gsp-block gsp-block-simple-text" {{- animation_attr -}} {{ block.shopify_attributes }}>
	<div class="gsp-block__inner">
		{% render 'el__simple-text', args: block %}
	</div>
</div>