{% comment %}
  Accepts:
  	- title: title button
  	- collection: Collection object (required)
	- custom_css: Add class css
{% endcomment %}
{% liquid
	assign title_default = 'collection.title_shop_now' | t
%}
<div class="gsp-collection-card-view-more gsp-collection-card-item">
	<a href="{{ collection.url | default: '#' }}"
	   class="btn {{ custom_css }}">
		{{ title | default: title_default }}
	</a>
</div>