{% comment %}
	- container: container header
{% endcomment %}
{% liquid
	assign enable_account = section.settings.show_account_icon
	assign enable_search = section.settings.show_search
	assign search_layout = section.settings.search_layout
	assign enable_cart = section.settings.show_cart_icon
	assign enable_currency = section.settings.show_currency_switcher
	assign enable_language = section.settings.show_language_switcher
	assign enable_country = section.settings.show_country_selector
	assign enable_wishlist = false
	assign enable_compare = false
	if section.settings.show_wishlist_icon and settings.enable_wishlist
		assign enable_wishlist = true
	endif
	if section.settings.show_compare_icon and settings.enable_compare
		assign enable_compare = true
	endif

	assign enable_button = section.settings.show_button
	assign button_text = section.settings.header_addon_el_button_text
	assign button_link = section.settings.header_addon_el_button_link
	assign button_icon = section.settings.header_addon_el_button_icon
%}
<div
	class="main-header {% if section.settings.header_sticky %} header-sticky header-sticky-smart disable-transition-all {% endif %}">
	<div class="gsp-header__wrap {% if section.settings.header_sticky %} sticky-area w-100 {% endif %}">
		<div class="{{ container }}">
			<div class="d-flex align-items-center justify-content-between">
				<div class="w-50 d-flex justify-content-between align-items-center">
					{% render 'header-addons',
						search: enable_search,
						search_layout: search_layout,
						currency: enable_currency,
						language: enable_language,
						country: enable_country,
						account: false,
						wishlist: false,
						cart: false,
						classes: "gsp-header-addons d-flex align-items-center pe-2"
					%}
					<div class="d-flex justify-content-end">
						{% render 'header__menu' %}
					</div>
				</div>
				<div class="navbar-brand mx-auto flex-shrink px-5 py-0">
					{% render 'header__logo' %}
				</div>
				<div class="w-50 d-flex justify-content-between align-items-center">
					<div class="d-flex justify-content-start">
						{% render 'header__menu', menu: 'secondary_menu' %}
					</div>
					{% render 'header-addons',
						search: false,
						currency: false,
						language: false,
						country: false,
						account: enable_account,
						wishlist: enable_wishlist,
						compare: enable_compare,
						cart: enable_cart,
						button: enable_button,
						button_text: button_text,
						button_link: button_link,
						button_icon: button_icon,
						classes: "gsp-header-addons gsp-header-addons-main w-50 d-flex align-items-center justify-content-end"
					%}
				</div>
			</div>
		</div>
	</div>
</div>