{% comment %}
  Accepts:
  	- product: product object (required)
	- custom_css: Add class css
{% endcomment %}
{% liquid
	assign title_default = 'products.product.title_example' | t
%}
<h3 class="gsp-product-card-title gsp-product-card-item card-title mb-0 {{ custom_css }}">
	<a href="{{ product.url | default: '#' }}"
	   class="text-decoration-none text-inherit">{{ product.title | default: title_default }}</a>
</h3>