<div class="modal gsp-modal__quick-view fade" id="gsp-modal__quick-view">
	<div class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header border-0 pt-3 pb-md-0">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body pt-1 pb-4 mb-2">
				{% comment %}Nothing{% endcomment %}
			</div>
		</div>
	</div>
</div>