{% comment %}
  Accepts:
  - product: {Object} Product Liquid object (required)
{% endcomment %}
<div class="d-flex flex-wrap align-items-center">
	{% render 'product-card__prices', product: product, use_variant: true %}
	{% render 'product-card__badges', product: product, include_badges: 'sale,custom_badges', custom_css: 'ps-3' %}
</div>
<div class="installment-shoppay">
	{%- form 'product', product, id: 'product-form-installment', class: 'installment' -%}
		<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
		{{ form | payment_terms }}
	{%- endform -%}
</div>