{% render 'section-start', name: 'main-collection-banner', has_header: false %}
<div
	class="row gsp-gutter-wrap {% if section.settings.vertical_align != "default" %} align-items-{{ section.settings.vertical_align }}{% endif %}">
	{% for block in section.blocks %}
		{%- liquid
			assign col_xl = block.settings.col_xl
			assign col_lg = block.settings.col_lg
			assign col_md = block.settings.col_md
			assign col_sm = block.settings.col_sm
			assign col = block.settings.col_xs
			assign class_item = 'gsp-block__wrap col'
			if block.settings.custom_class != blank
				assign class_item = class_item | append: " " | append: block.settings.custom_class
			endif
			if forloop.first
				assign class_item = class_item | append: " gsp-block__is-first"
			endif
			if forloop.last
				assign class_item = class_item | append: " gsp-block__is-last"
			endif
		-%}
		<div {% render 'classes-col-bootstrap', additional: class_item, convert_class: false, col_xl: col_xl, col_lg: col_lg, col_md: col_md, col_sm: col_sm, col: col %}>
			{% render 'block__render', block: block %}
		</div>
	{% endfor %}
</div>

{%- capture extended_css -%}
	.gsp-section-{{ section.id }} {
	{%- if section.settings.use_feature_bg and collection.image != nil %}
		--gsp-section-bg-image: url({{ collection.featured_image | image_url }}) !important;
	{% endif -%}
	}
{%- endcapture -%}
{% render 'section-end', has_header: false, extended_css: extended_css %}
{% schema %}
{
    "name": "t:sections.main_collection_banner.name",
    "enabled_on": {
        "templates": [
            "collection"
        ]
    },
    "limit": 1,
    "settings": [
        {
            "type": "header",
            "content": "t:sections.main_collection_banner.settings.header__collection_banner"
        },
        {
            "type": "checkbox",
            "id": "use_feature_bg",
            "label": "t:sections.main_collection_banner.settings.use_feature_bg.label",
            "info": "t:sections.main_collection_banner.settings.use_feature_bg.info"
        },
        {
            "type": "header",
            "content": "t:general.sections.general_label"
        },
        {
            "type": "select",
            "id": "container",
            "label": "t:general.container.label",
            "default": "inherit",
            "options": [
                {
                    "value": "inherit",
                    "label": "t:general.container.options__inherit"
                },
                {
                    "value": "container",
                    "label": "t:general.container.options__container"
                },
                {
                    "value": "container-xl",
                    "label": "t:general.container.options__container_xl"
                },
                {
                    "value": "container-xxl",
                    "label": "t:general.container.options__container_xxl"
                },
                {
                    "value": "container-fluid",
                    "label": "t:general.container.options__container_fluid"
                },
                {
                    "value": "container-fluid-no-pd",
                    "label": "t:general.container.options__container_fluid_no_pd"
                }
            ]
        },
        {
            "type": "color",
            "id": "section_bg_color",
            "label": "t:general.settings.background_group.bg_color.label"
        },
        {
            "type": "image_picker",
            "id": "section_bg_image",
            "label": "t:general.settings.background_group.bg_image.label"
        },
        {
            "type": "select",
            "id": "section_bg_position",
            "label": "t:general.settings.background_group.bg_position.label",
            "options": [
                {
                    "value": "default",
                    "label": "t:general.settings.background_group.bg_position.options__default"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__center",
                    "value": "center center",
                    "label": "t:general.settings.background_group.bg_position.options__center_center"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__center",
                    "value": "center left",
                    "label": "t:general.settings.background_group.bg_position.options__center_left"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__center",
                    "value": "center right",
                    "label": "t:general.settings.background_group.bg_position.options__center_right"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__top",
                    "value": "top center",
                    "label": "t:general.settings.background_group.bg_position.options__top_center"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__top",
                    "value": "top left",
                    "label": "t:general.settings.background_group.bg_position.options__top_left"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__top",
                    "value": "top right",
                    "label": "t:general.settings.background_group.bg_position.options__top_right"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__bottom",
                    "value": "bottom center",
                    "label": "t:general.settings.background_group.bg_position.options__bottom_center"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__bottom",
                    "value": "bottom right",
                    "label": "t:general.settings.background_group.bg_position.options__bottom_right"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__bottom",
                    "value": "bottom left",
                    "label": "t:general.settings.background_group.bg_position.options__bottom_left"
                }
            ],
            "default": "default"
        },
        {
            "type": "select",
            "id": "section_bg_size",
            "label": "t:general.settings.background_group.bg_size.label",
            "options": [
                {
                    "value": "default",
                    "label": "t:general.settings.background_group.bg_size.options__default"
                },
                {
                    "value": "auto",
                    "label": "t:general.settings.background_group.bg_size.options__auto"
                },
                {
                    "value": "cover",
                    "label": "t:general.settings.background_group.bg_size.options__cover"
                },
                {
                    "value": "contain",
                    "label": "t:general.settings.background_group.bg_size.options__contain"
                }
            ],
            "default": "default"
        },
        {
            "type": "range",
            "id": "item_gap",
            "label": "t:general.sections.item_gap.label",
            "min": -1,
            "max": 99,
            "step": 1,
            "default": -1,
            "unit": "px",
            "info": "t:general.sections.item_gap.info"
        },
        {
            "type": "select",
            "id": "vertical_align",
            "label": "t:sections.main_collection_banner.settings.vertical_align.label",
            "default": "default",
            "options": [
                {
                    "label": "t:sections.main_collection_banner.settings.vertical_align.options__default",
                    "value": "default"
                },
                {
                    "label": "t:sections.main_collection_banner.settings.vertical_align.options__start",
                    "value": "start"
                },
                {
                    "label": "t:sections.main_collection_banner.settings.vertical_align.options__center",
                    "value": "center"
                },
                {
                    "label": "t:sections.main_collection_banner.settings.vertical_align.options__end",
                    "value": "end"
                }
            ]
        },
        {
            "type": "header",
            "content": "t:general.sections.spacing.header__section_spacing"
        },
        {
            "type": "paragraph",
            "content": "t:general.sections.spacing.paragraph__5"
        },
        {
            "type": "number",
            "id": "padding_top",
            "label": "t:general.sections.spacing.padding_top.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "padding_bottom",
            "label": "t:general.sections.spacing.padding_bottom.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "padding_top_mobile",
            "label": "t:general.sections.spacing.padding_top_mobile.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "padding_bottom_mobile",
            "label": "t:general.sections.spacing.padding_bottom_mobile.label",
            "default": -1
        },
        {
            "type": "header",
            "content": "t:general.sections.animations_header_label"
        },
        {
            "type": "select",
            "id": "animation_type",
            "label": "t:general.animation_type.label",
            "default": "inherit",
            "options": [
                {
                    "value": "inherit",
                    "label": "t:general.animation_type.options__inherit"
                },
                {
                    "value": "none",
                    "label": "t:general.animation_type.options__none"
                },
                {
                    "value": "fadeIn",
                    "label": "t:general.animation_type.options__fadeIn"
                },
                {
                    "value": "fadeInUp",
                    "label": "t:general.animation_type.options__fadeInUp"
                },
                {
                    "value": "fadeInDown",
                    "label": "t:general.animation_type.options__fadeInDown"
                },
                {
                    "value": "fadeInLeft",
                    "label": "t:general.animation_type.options__fadeInLeft"
                },
                {
                    "value": "fadeInRight",
                    "label": "t:general.animation_type.options__fadeInRight"
                },
                {
                    "value": "flipInX",
                    "label": "t:general.animation_type.options__flipInX"
                },
                {
                    "value": "flip",
                    "label": "t:general.animation_type.options__flip"
                },
                {
                    "value": "zoomOut",
                    "label": "t:general.animation_type.options__zoomOut"
                },
                {
                    "value": "zoomIn",
                    "label": "t:general.animation_type.options__zoomIn"
                }
            ]
        },
        {
            "type": "header",
            "content": "t:general.sections.custom_attrs.header__section_attributes"
        },
        {
            "type": "text",
            "id": "custom_class",
            "label": "t:general.sections.custom_attrs.custom_class.label"
        }
    ],
    "blocks": [
        {
            "type": "page_title",
            "name": "t:block.page_title.name",
            "limit": 1,
            "settings": [
                {
                    "type": "header",
                    "content": "t:block.page_title.settings.header__style"
                },
                {
                    "type": "color",
                    "id": "page_title_color",
                    "label": "t:block.page_title.settings.page_title_color.label"
                },
                {
                    "type": "range",
                    "id": "page_title_font_size",
                    "label": "t:block.page_title.settings.page_title_font_size.label",
                    "min": 10,
                    "max": 100,
                    "step": 1,
                    "default": 40
                },
                {
                    "type": "select",
                    "id": "content_alignment",
                    "label": "t:general.settings.content_alignment.label",
                    "default": "start",
                    "options": [
                        {
                            "label": "t:general.settings.content_alignment.options__start",
                            "value": "start"
                        },
                        {
                            "label": "t:general.settings.content_alignment.options__center",
                            "value": "center"
                        },
                        {
                            "label": "t:general.settings.content_alignment.options__end",
                            "value": "end"
                        }
                    ]
                },
                {
                    "type": "header",
                    "content": "t:general.block.other_settings.header__block_attributes"
                },
                {
                    "type": "range",
                    "id": "col_xl",
                    "label": "Col Xl (≥1200px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 6
                },
                {
                    "type": "range",
                    "id": "col_lg",
                    "label": "Col Lg (≥992px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 6
                },
                {
                    "type": "range",
                    "id": "col_md",
                    "label": "Col Md (≥768px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 12
                },
                {
                    "type": "range",
                    "id": "col_sm",
                    "label": "Col Sm (≥576px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 12
                },
                {
                    "type": "range",
                    "id": "col_xs",
                    "label": "Col Xs (<576px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 12
                },
                {
                    "type": "select",
                    "id": "animation_type",
                    "label": "t:general.animation_type.label",
                    "default": "inherit",
                    "options": [
                        {
                            "value": "inherit",
                            "label": "t:general.animation_type.options__inherit"
                        },
                        {
                            "value": "none",
                            "label": "t:general.animation_type.options__none"
                        },
                        {
                            "value": "fadeIn",
                            "label": "t:general.animation_type.options__fadeIn"
                        },
                        {
                            "value": "fadeInUp",
                            "label": "t:general.animation_type.options__fadeInUp"
                        },
                        {
                            "value": "fadeInDown",
                            "label": "t:general.animation_type.options__fadeInDown"
                        },
                        {
                            "value": "fadeInLeft",
                            "label": "t:general.animation_type.options__fadeInLeft"
                        },
                        {
                            "value": "fadeInRight",
                            "label": "t:general.animation_type.options__fadeInRight"
                        },
                        {
                            "value": "flipInX",
                            "label": "t:general.animation_type.options__flipInX"
                        },
                        {
                            "value": "flip",
                            "label": "t:general.animation_type.options__flip"
                        },
                        {
                            "value": "zoomOut",
                            "label": "t:general.animation_type.options__zoomOut"
                        },
                        {
                            "value": "zoomIn",
                            "label": "t:general.animation_type.options__zoomIn"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "custom_class",
                    "label": "t:general.block.other_settings.custom_class.label"
                }
            ]
        },
        {
            "type": "breadcrumb",
            "name": "t:block.breadcrumb.name",
            "limit": 1,
            "settings": [
                {
                    "type": "header",
                    "content": "t:block.breadcrumb.settings.header__style"
                },
                {
                    "type": "color",
                    "id": "breadcrumb_color",
                    "label": "t:block.breadcrumb.settings.breadcrumb_color.label"
                },
                {
                    "type": "color",
                    "id": "breadcrumb_color_active",
                    "label": "t:block.breadcrumb.settings.breadcrumb_color_active.label"
                },
                {
                    "type": "range",
                    "id": "breadcrumb_font_size",
                    "label": "t:block.breadcrumb.settings.breadcrumb_font_size.label",
                    "min": 10,
                    "max": 100,
                    "step": 1,
                    "default": 15
                },
                {
                    "type": "select",
                    "id": "content_alignment",
                    "label": "t:general.settings.content_alignment.label",
                    "default": "start",
                    "options": [
                        {
                            "label": "t:general.settings.content_alignment.options__start",
                            "value": "start"
                        },
                        {
                            "label": "t:general.settings.content_alignment.options__center",
                            "value": "center"
                        },
                        {
                            "label": "t:general.settings.content_alignment.options__end",
                            "value": "end"
                        }
                    ]
                },
                {
                    "type": "header",
                    "content": "t:general.block.other_settings.header__block_attributes"
                },
                {
                    "type": "range",
                    "id": "col_xl",
                    "label": "Col Xl (≥1200px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 6
                },
                {
                    "type": "range",
                    "id": "col_lg",
                    "label": "Col Lg (≥992px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 6
                },
                {
                    "type": "range",
                    "id": "col_md",
                    "label": "Col Md (≥768px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 12
                },
                {
                    "type": "range",
                    "id": "col_sm",
                    "label": "Col Sm (≥576px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 12
                },
                {
                    "type": "range",
                    "id": "col_xs",
                    "label": "Col Xs (<576px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 12
                },
                {
                    "type": "select",
                    "id": "animation_type",
                    "label": "t:general.animation_type.label",
                    "default": "inherit",
                    "options": [
                        {
                            "value": "inherit",
                            "label": "t:general.animation_type.options__inherit"
                        },
                        {
                            "value": "none",
                            "label": "t:general.animation_type.options__none"
                        },
                        {
                            "value": "fadeIn",
                            "label": "t:general.animation_type.options__fadeIn"
                        },
                        {
                            "value": "fadeInUp",
                            "label": "t:general.animation_type.options__fadeInUp"
                        },
                        {
                            "value": "fadeInDown",
                            "label": "t:general.animation_type.options__fadeInDown"
                        },
                        {
                            "value": "fadeInLeft",
                            "label": "t:general.animation_type.options__fadeInLeft"
                        },
                        {
                            "value": "fadeInRight",
                            "label": "t:general.animation_type.options__fadeInRight"
                        },
                        {
                            "value": "flipInX",
                            "label": "t:general.animation_type.options__flipInX"
                        },
                        {
                            "value": "flip",
                            "label": "t:general.animation_type.options__flip"
                        },
                        {
                            "value": "zoomOut",
                            "label": "t:general.animation_type.options__zoomOut"
                        },
                        {
                            "value": "zoomIn",
                            "label": "t:general.animation_type.options__zoomIn"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "custom_class",
                    "label": "t:general.block.other_settings.custom_class.label"
                }
            ]
        },
        {
            "type": "collection_desc",
            "name": "t:block.collection_desc.name",
            "limit": 1,
            "settings": [
                {
                    "type": "html",
                    "id": "collection_all_desc",
                    "label": "t:block.collection_desc.settings.collection_all_desc.label"
                },
                {
                    "type": "select",
                    "id": "content_alignment",
                    "label": "t:general.settings.content_alignment.label",
                    "default": "start",
                    "options": [
                        {
                            "label": "t:general.settings.content_alignment.options__start",
                            "value": "start"
                        },
                        {
                            "label": "t:general.settings.content_alignment.options__center",
                            "value": "center"
                        },
                        {
                            "label": "t:general.settings.content_alignment.options__end",
                            "value": "end"
                        }
                    ]
                },
                {
                    "type": "header",
                    "content": "t:general.block.other_settings.header__block_attributes"
                },
                {
                    "type": "range",
                    "id": "col_xl",
                    "label": "Col Xl (≥1200px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 6
                },
                {
                    "type": "range",
                    "id": "col_lg",
                    "label": "Col Lg (≥992px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 6
                },
                {
                    "type": "range",
                    "id": "col_md",
                    "label": "Col Md (≥768px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 12
                },
                {
                    "type": "range",
                    "id": "col_sm",
                    "label": "Col Sm (≥576px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 12
                },
                {
                    "type": "range",
                    "id": "col_xs",
                    "label": "Col Xs (<576px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 12
                },
                {
                    "type": "select",
                    "id": "animation_type",
                    "label": "t:general.animation_type.label",
                    "default": "inherit",
                    "options": [
                        {
                            "value": "inherit",
                            "label": "t:general.animation_type.options__inherit"
                        },
                        {
                            "value": "none",
                            "label": "t:general.animation_type.options__none"
                        },
                        {
                            "value": "fadeIn",
                            "label": "t:general.animation_type.options__fadeIn"
                        },
                        {
                            "value": "fadeInUp",
                            "label": "t:general.animation_type.options__fadeInUp"
                        },
                        {
                            "value": "fadeInDown",
                            "label": "t:general.animation_type.options__fadeInDown"
                        },
                        {
                            "value": "fadeInLeft",
                            "label": "t:general.animation_type.options__fadeInLeft"
                        },
                        {
                            "value": "fadeInRight",
                            "label": "t:general.animation_type.options__fadeInRight"
                        },
                        {
                            "value": "flipInX",
                            "label": "t:general.animation_type.options__flipInX"
                        },
                        {
                            "value": "flip",
                            "label": "t:general.animation_type.options__flip"
                        },
                        {
                            "value": "zoomOut",
                            "label": "t:general.animation_type.options__zoomOut"
                        },
                        {
                            "value": "zoomIn",
                            "label": "t:general.animation_type.options__zoomIn"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "custom_class",
                    "label": "t:general.block.other_settings.custom_class.label"
                }
            ]
        },
        {
            "type": "heading",
            "name": "t:block.heading.name",
            "settings": [
                {
                    "type": "header",
                    "content": "t:general.element.heading.setting_heading.header__heading_settings"
                },
                {
                    "type": "html",
                    "id": "el_heading_title",
                    "label": "t:general.element.heading.setting_heading.el_heading_title.label",
                    "default": "Why Shop with Glowing"
                },
                {
                    "type": "html",
                    "id": "el_heading_sub_title",
                    "label": "t:general.element.heading.setting_heading.el_heading_sub_title.label"
                },
                {
                    "type": "html",
                    "id": "el_heading_desc",
                    "label": "t:general.element.heading.setting_heading.el_heading_desc.label"
                },
                {
                    "type": "select",
                    "id": "el_heading_alignment",
                    "label": "t:general.element.heading.setting_heading.el_heading_alignment.label",
                    "default": "center",
                    "options": [
                        {
                            "value": "default",
                            "label": "t:general.element.heading.setting_heading.el_heading_alignment.options__default"
                        },
                        {
                            "value": "start",
                            "label": "t:general.element.heading.setting_heading.el_heading_alignment.options__start"
                        },
                        {
                            "value": "center",
                            "label": "t:general.element.heading.setting_heading.el_heading_alignment.options__center"
                        },
                        {
                            "value": "end",
                            "label": "t:general.element.heading.setting_heading.el_heading_alignment.options__end"
                        }
                    ]
                },
                {
                    "type": "image_picker",
                    "id": "el_heading_image",
                    "label": "t:general.element.heading.setting_heading.el_heading_image.label"
                },
                {
                    "type": "select",
                    "id": "el_heading_title_tag",
                    "label": "t:general.element.heading.setting_heading.el_heading_title_tag.label",
                    "default": "h2",
                    "options": [
                        {
                            "label": "h1",
                            "value": "h1"
                        },
                        {
                            "label": "h2",
                            "value": "h2"
                        },
                        {
                            "label": "h3",
                            "value": "h3"
                        },
                        {
                            "label": "h4",
                            "value": "h4"
                        },
                        {
                            "label": "h5",
                            "value": "h5"
                        },
                        {
                            "label": "h6",
                            "value": "h6"
                        },
                        {
                            "label": "p",
                            "value": "p"
                        },
                        {
                            "label": "span",
                            "value": "span"
                        },
                        {
                            "label": "div",
                            "value": "div"
                        }
                    ]
                },
                {
                    "type": "header",
                    "content": "t:general.element.heading.setting_heading.header__button_settings"
                },
                {
                    "type": "paragraph",
                    "content": "t:general.element.button.setting_content_button.paragraph__5"
                },
                {
                    "type": "url",
                    "id": "el_button_link",
                    "label": "t:general.element.button.setting_content_button.el_button_link.label"
                },
                {
                    "type": "text",
                    "id": "el_button_text",
                    "label": "t:general.element.button.setting_content_button.el_button_text.label"
                },
                {
                    "type": "select",
                    "id": "el_button_icon",
                    "label": "t:general.element.button.setting_content_button.el_button_icon.label",
                    "default": "none",
                    "options": [
                        {
                            "value": "none",
                            "label": "t:general.element.button.setting_content_button.el_button_icon.options__none"
                        },
                        {
                            "value": "arrow-right-long",
                            "label": "t:general.element.button.setting_content_button.el_button_icon.options__arrow_right_long"
                        },
                        {
                            "value": "arrow-right",
                            "label": "t:general.element.button.setting_content_button.el_button_icon.options__arrow_right"
                        },
                        {
                            "value": "angle-right",
                            "label": "t:general.element.button.setting_content_button.el_button_icon.options__angle_right"
                        },
                        {
                            "value": "plus",
                            "label": "t:general.element.button.setting_content_button.el_button_icon.options__plus"
                        },
                        {
                            "value": "play",
                            "label": "t:general.element.button.setting_content_button.el_button_icon.options__play"
                        },
                        {
                            "value": "pen",
                            "label": "t:general.element.button.setting_content_button.el_button_icon.options__pen"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "el_button_style",
                    "label": "t:general.element.button.style_button.el_button_style.label",
                    "options": [
                        {
                            "value": "default",
                            "label": "t:general.element.button.style_button.el_button_style.options__default"
                        },
                        {
                            "value": "outline",
                            "label": "t:general.element.button.style_button.el_button_style.options__outline"
                        },
                        {
                            "value": "link",
                            "label": "t:general.element.button.style_button.el_button_style.options__link"
                        }
                    ],
                    "default": "default"
                },
                {
                    "type": "select",
                    "id": "el_button_color",
                    "label": "t:general.element.button.style_button.el_button_color.label",
                    "options": [
                        {
                            "value": "primary",
                            "label": "t:general.element.button.style_button.el_button_color.options__primary"
                        },
                        {
                            "value": "secondary",
                            "label": "t:general.element.button.style_button.el_button_color.options__secondary"
                        },
                        {
                            "value": "light",
                            "label": "t:general.element.button.style_button.el_button_color.options__light"
                        },
                        {
                            "value": "dark",
                            "label": "t:general.element.button.style_button.el_button_color.options__dark"
                        }
                    ],
                    "default": "primary"
                },
                {
                    "type": "select",
                    "id": "el_button_size",
                    "label": "t:general.element.button.style_button.el_button_size.label",
                    "options": [
                        {
                            "value": "default",
                            "label": "t:general.element.button.style_button.el_button_size.options__default"
                        },
                        {
                            "value": "sm",
                            "label": "t:general.element.button.style_button.el_button_size.options__sm"
                        },
                        {
                            "value": "lg",
                            "label": "t:general.element.button.style_button.el_button_size.options__lg"
                        }
                    ],
                    "default": "default"
                },
                {
                    "type": "header",
                    "content": "t:general.element.heading.style_heading.header__heading_color"
                },
                {
                    "type": "color",
                    "id": "el_heading_title_color",
                    "label": "t:general.element.heading.style_heading.el_heading_title_color.label"
                },
                {
                    "type": "color",
                    "id": "el_heading_sub_title_color",
                    "label": "t:general.element.heading.style_heading.el_heading_sub_title_color.label"
                },
                {
                    "type": "color",
                    "id": "el_heading_desc_color",
                    "label": "t:general.element.heading.style_heading.el_heading_desc_color.label"
                },
                {
                    "type": "header",
                    "content": "t:general.element.heading.style_heading.header__heading_size"
                },
                {
                    "type": "paragraph",
                    "content": "t:general.element.heading.style_heading.paragraph__5"
                },
                {
                    "type": "number",
                    "id": "el_heading_fs_title",
                    "label": "t:general.element.heading.style_heading.el_heading_fs_title.label",
                    "default": -1
                },
                {
                    "type": "number",
                    "id": "el_heading_fs_sub_title",
                    "label": "t:general.element.heading.style_heading.el_heading_fs_sub_title.label",
                    "default": -1
                },
                {
                    "type": "number",
                    "id": "el_heading_fs_desc",
                    "label": "t:general.element.heading.style_heading.el_heading_fs_desc.label",
                    "default": -1
                },
                {
                    "type": "number",
                    "id": "el_heading_mw",
                    "label": "t:general.element.heading.style_heading.el_heading_mw.label",
                    "default": -1
                },
                {
                    "type": "header",
                    "content": "t:general.element.heading.style_heading.header__heading_spacing"
                },
                {
                    "type": "paragraph",
                    "content": "t:general.element.heading.style_heading.paragraph__10"
                },
                {
                    "type": "number",
                    "id": "el_heading_sp_sub_title",
                    "label": "t:general.element.heading.style_heading.el_heading_sp_sub_title.label",
                    "default": -1
                },
                {
                    "type": "number",
                    "id": "el_heading_sp_sub_image",
                    "label": "t:general.element.heading.style_heading.el_heading_sp_sub_image.label",
                    "default": -1
                },
                {
                    "type": "number",
                    "id": "el_heading_sp_desc",
                    "label": "t:general.element.heading.style_heading.el_heading_sp_desc.label",
                    "default": -1
                },
                {
                    "type": "number",
                    "id": "el_heading_sp_button",
                    "label": "t:general.element.heading.style_heading.el_heading_sp_button.label",
                    "default": -1
                },
                {
                    "type": "header",
                    "content": "t:general.block.other_settings.header__block_attributes"
                },
                {
                    "type": "range",
                    "id": "col_xl",
                    "label": "Col Xl (≥1200px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 6
                },
                {
                    "type": "range",
                    "id": "col_lg",
                    "label": "Col Lg (≥992px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 6
                },
                {
                    "type": "range",
                    "id": "col_md",
                    "label": "Col Md (≥768px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 12
                },
                {
                    "type": "range",
                    "id": "col_sm",
                    "label": "Col Sm (≥576px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 12
                },
                {
                    "type": "range",
                    "id": "col_xs",
                    "label": "Col Xs (<576px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 12
                },
                {
                    "type": "select",
                    "id": "animation_type",
                    "label": "t:general.animation_type.label",
                    "default": "inherit",
                    "options": [
                        {
                            "value": "inherit",
                            "label": "t:general.animation_type.options__inherit"
                        },
                        {
                            "value": "none",
                            "label": "t:general.animation_type.options__none"
                        },
                        {
                            "value": "fadeIn",
                            "label": "t:general.animation_type.options__fadeIn"
                        },
                        {
                            "value": "fadeInUp",
                            "label": "t:general.animation_type.options__fadeInUp"
                        },
                        {
                            "value": "fadeInDown",
                            "label": "t:general.animation_type.options__fadeInDown"
                        },
                        {
                            "value": "fadeInLeft",
                            "label": "t:general.animation_type.options__fadeInLeft"
                        },
                        {
                            "value": "fadeInRight",
                            "label": "t:general.animation_type.options__fadeInRight"
                        },
                        {
                            "value": "flipInX",
                            "label": "t:general.animation_type.options__flipInX"
                        },
                        {
                            "value": "flip",
                            "label": "t:general.animation_type.options__flip"
                        },
                        {
                            "value": "zoomOut",
                            "label": "t:general.animation_type.options__zoomOut"
                        },
                        {
                            "value": "zoomIn",
                            "label": "t:general.animation_type.options__zoomIn"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "custom_class",
                    "label": "t:general.block.other_settings.custom_class.label"
                },
                {
                    "type": "select",
                    "id": "vertical_align",
                    "label": "t:general.block.vertical_align.label",
                    "default": "center",
                    "options": [
                        {
                            "label": "t:general.block.vertical_align.options__default",
                            "value": "default"
                        },
                        {
                            "label": "t:general.block.vertical_align.options__start",
                            "value": "start"
                        },
                        {
                            "label": "t:general.block.vertical_align.options__center",
                            "value": "center"
                        },
                        {
                            "label": "t:general.block.vertical_align.options__end",
                            "value": "end"
                        }
                    ]
                }
            ]
        },
        {
            "type": "banner",
            "name": "t:block.banner.name",
            "settings": [
                {
                    "type": "html",
                    "id": "title",
                    "label": "t:general.element.banner.setting_banner.title.label",
                    "default": "25% off Everything"
                },
                {
                    "type": "html",
                    "id": "subtitle",
                    "label": "t:general.element.banner.setting_banner.subtitle.label",
                    "default": "NEW COLLECTION"
                },
                {
                    "type": "html",
                    "id": "desc",
                    "label": "t:general.element.banner.setting_banner.desc.label",
                    "default": "Makeup with extended range in <br /> colors for every human."
                },
                {
                    "type": "select",
                    "id": "title_tag",
                    "label": "t:general.element.banner.setting_banner.title_tag.label",
                    "default": "h3",
                    "options": [
                        {
                            "label": "h1",
                            "value": "h1"
                        },
                        {
                            "label": "h2",
                            "value": "h2"
                        },
                        {
                            "label": "h3",
                            "value": "h3"
                        },
                        {
                            "label": "h4",
                            "value": "h4"
                        },
                        {
                            "label": "h5",
                            "value": "h5"
                        },
                        {
                            "label": "h6",
                            "value": "h6"
                        },
                        {
                            "label": "p",
                            "value": "p"
                        },
                        {
                            "label": "span",
                            "value": "span"
                        },
                        {
                            "label": "div",
                            "value": "div"
                        }
                    ]
                },
                {
                    "type": "header",
                    "content": "t:general.element.banner.setting_banner.header__image_settings"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:general.element.banner.setting_banner.image.label"
                },
                {
                    "type": "text",
                    "id": "aspect_ratio",
                    "label": "t:general.settings.image_ratio.label",
                    "default": "original",
                    "info": "t:general.settings.image_ratio.info"
                },
                {
                    "type": "text",
                    "id": "image_size",
                    "label": "t:general.settings.image_size.label",
                    "default": "full",
                    "info": "t:general.settings.image_size.info"
                },
                {
                    "type": "number",
                    "id": "image_height",
                    "label": "t:general.element.banner.setting_banner.image_height.label",
                    "default": -1,
                    "info": "t:general.element.banner.setting_banner.image_height.info"
                },
                {
                    "type": "number",
                    "id": "image_height_mobile",
                    "label": "t:general.element.banner.setting_banner.image_height_mobile.label",
                    "default": -1,
                    "info": "t:general.element.banner.setting_banner.image_height_mobile.info"
                },
                {
                    "type": "select",
                    "id": "image_overlay",
                    "label": "t:general.element.banner.setting_banner.image_overlay.label",
                    "default": "none",
                    "options": [
                        {
                            "label": "t:general.element.banner.setting_banner.image_overlay.options__none",
                            "value": "none"
                        },
                        {
                            "label": "t:general.element.banner.setting_banner.image_overlay.options__full",
                            "value": "full"
                        },
                        {
                            "label": "t:general.element.banner.setting_banner.image_overlay.options__below",
                            "value": "below"
                        }
                    ]
                },
                {
                    "type": "checkbox",
                    "id": "enable_image_link",
                    "label": "t:general.element.banner.setting_banner.enable_image_link.label",
                    "default": true
                },
                {
                    "type": "header",
                    "content": "t:general.element.banner.setting_banner.header__button"
                },
                {
                    "type": "paragraph",
                    "content": "t:general.element.button.setting_content_button.paragraph__5"
                },
                {
                    "type": "url",
                    "id": "el_button_link",
                    "label": "t:general.element.button.setting_content_button.el_button_link.label"
                },
                {
                    "type": "text",
                    "id": "el_button_text",
                    "label": "t:general.element.button.setting_content_button.el_button_text.label"
                },
                {
                    "type": "select",
                    "id": "el_button_icon",
                    "label": "t:general.element.button.setting_content_button.el_button_icon.label",
                    "default": "none",
                    "options": [
                        {
                            "value": "none",
                            "label": "t:general.element.button.setting_content_button.el_button_icon.options__none"
                        },
                        {
                            "value": "arrow-right-long",
                            "label": "t:general.element.button.setting_content_button.el_button_icon.options__arrow_right_long"
                        },
                        {
                            "value": "arrow-right",
                            "label": "t:general.element.button.setting_content_button.el_button_icon.options__arrow_right"
                        },
                        {
                            "value": "angle-right",
                            "label": "t:general.element.button.setting_content_button.el_button_icon.options__angle_right"
                        },
                        {
                            "value": "plus",
                            "label": "t:general.element.button.setting_content_button.el_button_icon.options__plus"
                        },
                        {
                            "value": "play",
                            "label": "t:general.element.button.setting_content_button.el_button_icon.options__play"
                        },
                        {
                            "value": "pen",
                            "label": "t:general.element.button.setting_content_button.el_button_icon.options__pen"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "el_button_style",
                    "label": "t:general.element.button.style_button.el_button_style.label",
                    "options": [
                        {
                            "value": "default",
                            "label": "t:general.element.button.style_button.el_button_style.options__default"
                        },
                        {
                            "value": "outline",
                            "label": "t:general.element.button.style_button.el_button_style.options__outline"
                        },
                        {
                            "value": "link",
                            "label": "t:general.element.button.style_button.el_button_style.options__link"
                        }
                    ],
                    "default": "default"
                },
                {
                    "type": "select",
                    "id": "el_button_color",
                    "label": "t:general.element.button.style_button.el_button_color.label",
                    "options": [
                        {
                            "value": "primary",
                            "label": "t:general.element.button.style_button.el_button_color.options__primary"
                        },
                        {
                            "value": "secondary",
                            "label": "t:general.element.button.style_button.el_button_color.options__secondary"
                        },
                        {
                            "value": "light",
                            "label": "t:general.element.button.style_button.el_button_color.options__light"
                        },
                        {
                            "value": "dark",
                            "label": "t:general.element.button.style_button.el_button_color.options__dark"
                        }
                    ],
                    "default": "primary"
                },
                {
                    "type": "select",
                    "id": "el_button_size",
                    "label": "t:general.element.button.style_button.el_button_size.label",
                    "options": [
                        {
                            "value": "default",
                            "label": "t:general.element.button.style_button.el_button_size.options__default"
                        },
                        {
                            "value": "sm",
                            "label": "t:general.element.button.style_button.el_button_size.options__sm"
                        },
                        {
                            "value": "lg",
                            "label": "t:general.element.button.style_button.el_button_size.options__lg"
                        }
                    ],
                    "default": "default"
                },
                {
                    "type": "header",
                    "content": "t:general.element.banner.setting_banner.header__card_settings"
                },
                {
                    "type": "select",
                    "id": "card_style",
                    "label": "t:general.element.banner.setting_banner.card_style.label",
                    "default": "middle",
                    "options": [
                        {
                            "label": "t:general.element.banner.setting_banner.card_style.options__top",
                            "value": "top"
                        },
                        {
                            "label": "t:general.element.banner.setting_banner.card_style.options__middle",
                            "value": "middle"
                        },
                        {
                            "label": "t:general.element.banner.setting_banner.card_style.options__bottom",
                            "value": "bottom"
                        },
                        {
                            "label": "t:general.element.banner.setting_banner.card_style.options__top_bottom",
                            "value": "top-bottom"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "content_alignment",
                    "label": "t:general.settings.content_alignment.label",
                    "default": "center",
                    "options": [
                        {
                            "label": "t:general.settings.content_alignment.options__start",
                            "value": "start"
                        },
                        {
                            "label": "t:general.settings.content_alignment.options__center",
                            "value": "center"
                        },
                        {
                            "label": "t:general.settings.content_alignment.options__end",
                            "value": "end"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "hover_style",
                    "label": "t:general.setup.hover_style.label",
                    "default": "none",
                    "options": [
                        {
                            "value": "none",
                            "label": "t:general.setup.hover_style.options__none"
                        },
                        {
                            "value": "zoom-in",
                            "label": "t:general.setup.hover_style.options__zoom_in"
                        },
                        {
                            "value": "slide-left",
                            "label": "t:general.setup.hover_style.options__slide_left"
                        },
                        {
                            "value": "slide-right",
                            "label": "t:general.setup.hover_style.options__slide_right"
                        },
                        {
                            "value": "slide-up",
                            "label": "t:general.setup.hover_style.options__slide_up"
                        },
                        {
                            "value": "slide-down",
                            "label": "t:general.setup.hover_style.options__slide_down"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "hover_effect",
                    "label": "t:general.setup.hover_effect.label",
                    "default": "none",
                    "options": [
                        {
                            "value": "none",
                            "label": "t:general.setup.hover_effect.options__none"
                        },
                        {
                            "value": "shine",
                            "label": "t:general.setup.hover_effect.options__shine"
                        },
                        {
                            "value": "symmetry",
                            "label": "t:general.setup.hover_effect.options__symmetry"
                        },
                        {
                            "value": "bordered",
                            "label": "t:general.setup.hover_effect.options__bordered"
                        }
                    ]
                },
                {
                    "type": "header",
                    "content": "t:general.element.banner.style_banner.header__color"
                },
                {
                    "type": "color",
                    "id": "title_color",
                    "label": "t:general.element.banner.style_banner.title_color.label"
                },
                {
                    "type": "color",
                    "id": "subtitle_color",
                    "label": "t:general.element.banner.style_banner.subtitle_color.label"
                },
                {
                    "type": "color",
                    "id": "desc_color",
                    "label": "t:general.element.banner.style_banner.desc_color.label"
                },
                {
                    "type": "header",
                    "content": "t:general.element.banner.style_banner.header__font_size"
                },
                {
                    "type": "paragraph",
                    "content": "t:general.element.banner.style_banner.paragraph__5"
                },
                {
                    "type": "number",
                    "id": "title_fs",
                    "label": "t:general.element.banner.style_banner.title_fs.label",
                    "default": -1
                },
                {
                    "type": "number",
                    "id": "subtitle_fs",
                    "label": "t:general.element.banner.style_banner.subtitle_fs.label",
                    "default": -1
                },
                {
                    "type": "number",
                    "id": "desc_fs",
                    "label": "t:general.element.banner.style_banner.desc_fs.label",
                    "default": -1
                },
                {
                    "type": "header",
                    "content": "t:general.element.banner.style_banner.header__spacing"
                },
                {
                    "type": "paragraph",
                    "content": "t:general.element.banner.style_banner.paragraph__10"
                },
                {
                    "type": "number",
                    "id": "content_padding",
                    "label": "t:general.element.banner.style_banner.content_padding.label",
                    "default": -1
                },
                {
                    "type": "number",
                    "id": "content_padding_mobile",
                    "label": "t:general.element.banner.style_banner.content_padding_mobile.label",
                    "default": -1
                },
                {
                    "type": "number",
                    "id": "title_spacing",
                    "label": "t:general.element.banner.style_banner.title_spacing.label",
                    "default": -1
                },
                {
                    "type": "number",
                    "id": "subtitle_spacing",
                    "label": "t:general.element.banner.style_banner.subtitle_spacing.label",
                    "default": -1
                },
                {
                    "type": "number",
                    "id": "desc_spacing",
                    "label": "t:general.element.banner.style_banner.desc_spacing.label",
                    "default": -1
                },
                {
                    "type": "number",
                    "id": "button_spacing",
                    "label": "t:general.element.banner.style_banner.button_spacing.label",
                    "default": -1
                },
                {
                    "type": "header",
                    "content": "t:general.block.other_settings.header__block_attributes"
                },
                {
                    "type": "range",
                    "id": "col_xl",
                    "label": "Col Xl (≥1200px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 6
                },
                {
                    "type": "range",
                    "id": "col_lg",
                    "label": "Col Lg (≥992px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 6
                },
                {
                    "type": "range",
                    "id": "col_md",
                    "label": "Col Md (≥768px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 12
                },
                {
                    "type": "range",
                    "id": "col_sm",
                    "label": "Col Sm (≥576px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 12
                },
                {
                    "type": "range",
                    "id": "col_xs",
                    "label": "Col Xs (<576px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 12
                },
                {
                    "type": "select",
                    "id": "animation_type",
                    "label": "t:general.animation_type.label",
                    "default": "inherit",
                    "options": [
                        {
                            "value": "inherit",
                            "label": "t:general.animation_type.options__inherit"
                        },
                        {
                            "value": "none",
                            "label": "t:general.animation_type.options__none"
                        },
                        {
                            "value": "fadeIn",
                            "label": "t:general.animation_type.options__fadeIn"
                        },
                        {
                            "value": "fadeInUp",
                            "label": "t:general.animation_type.options__fadeInUp"
                        },
                        {
                            "value": "fadeInDown",
                            "label": "t:general.animation_type.options__fadeInDown"
                        },
                        {
                            "value": "fadeInLeft",
                            "label": "t:general.animation_type.options__fadeInLeft"
                        },
                        {
                            "value": "fadeInRight",
                            "label": "t:general.animation_type.options__fadeInRight"
                        },
                        {
                            "value": "flipInX",
                            "label": "t:general.animation_type.options__flipInX"
                        },
                        {
                            "value": "flip",
                            "label": "t:general.animation_type.options__flip"
                        },
                        {
                            "value": "zoomOut",
                            "label": "t:general.animation_type.options__zoomOut"
                        },
                        {
                            "value": "zoomIn",
                            "label": "t:general.animation_type.options__zoomIn"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "custom_class",
                    "label": "t:general.block.other_settings.custom_class.label"
                }
            ]
        },
        {
            "type": "image",
            "name": "t:block.image.name",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:block.image.settings.image.label"
                },
                {
                    "type": "text",
                    "id": "aspect_ratio",
                    "label": "t:general.settings.image_ratio.label",
                    "default": "original",
                    "info": "t:general.settings.image_ratio.info_main"
                },
                {
                    "type": "text",
                    "id": "image_size",
                    "label": "t:general.settings.image_size.label",
                    "default": "full",
                    "info": "t:general.settings.image_size.info_main"
                },
                {
                    "type": "number",
                    "id": "img_max_width",
                    "label": "t:block.image.settings.img_max_width.label",
                    "default": -1,
                    "info": "t:block.image.settings.img_max_width.info"
                },
                {
                    "type": "select",
                    "id": "hover_style",
                    "label": "t:general.setup.hover_style.label",
                    "default": "none",
                    "options": [
                        {
                            "value": "none",
                            "label": "t:general.setup.hover_style.options__none"
                        },
                        {
                            "value": "zoom-in",
                            "label": "t:general.setup.hover_style.options__zoom_in"
                        },
                        {
                            "value": "slide-left",
                            "label": "t:general.setup.hover_style.options__slide_left"
                        },
                        {
                            "value": "slide-right",
                            "label": "t:general.setup.hover_style.options__slide_right"
                        },
                        {
                            "value": "slide-up",
                            "label": "t:general.setup.hover_style.options__slide_up"
                        },
                        {
                            "value": "slide-down",
                            "label": "t:general.setup.hover_style.options__slide_down"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "hover_effect",
                    "label": "t:general.setup.hover_effect.label",
                    "default": "none",
                    "options": [
                        {
                            "value": "none",
                            "label": "t:general.setup.hover_effect.options__none"
                        },
                        {
                            "value": "shine",
                            "label": "t:general.setup.hover_effect.options__shine"
                        },
                        {
                            "value": "symmetry",
                            "label": "t:general.setup.hover_effect.options__symmetry"
                        },
                        {
                            "value": "bordered",
                            "label": "t:general.setup.hover_effect.options__bordered"
                        }
                    ]
                },
                {
                    "type": "header",
                    "content": "t:block.image.settings.header__alignments"
                },
                {
                    "type": "select",
                    "id": "vertical_align",
                    "label": "t:block.image.settings.vertical_align.label",
                    "default": "center",
                    "options": [
                        {
                            "label": "t:block.image.settings.vertical_align.options__start",
                            "value": "start"
                        },
                        {
                            "label": "t:block.image.settings.vertical_align.options__center",
                            "value": "center"
                        },
                        {
                            "label": "t:block.image.settings.vertical_align.options__end",
                            "value": "end"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "content_alignment",
                    "label": "t:general.settings.content_alignment.label",
                    "default": "center",
                    "options": [
                        {
                            "label": "t:general.settings.content_alignment.options__start",
                            "value": "start"
                        },
                        {
                            "label": "t:general.settings.content_alignment.options__center",
                            "value": "center"
                        },
                        {
                            "label": "t:general.settings.content_alignment.options__end",
                            "value": "end"
                        }
                    ]
                },
                {
                    "type": "header",
                    "content": "t:general.block.other_settings.header__block_attributes"
                },
                {
                    "type": "range",
                    "id": "col_xl",
                    "label": "Col Xl (≥1200px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 6
                },
                {
                    "type": "range",
                    "id": "col_lg",
                    "label": "Col Lg (≥992px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 6
                },
                {
                    "type": "range",
                    "id": "col_md",
                    "label": "Col Md (≥768px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 12
                },
                {
                    "type": "range",
                    "id": "col_sm",
                    "label": "Col Sm (≥576px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 12
                },
                {
                    "type": "range",
                    "id": "col_xs",
                    "label": "Col Xs (<576px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 12
                },
                {
                    "type": "select",
                    "id": "animation_type",
                    "label": "t:general.animation_type.label",
                    "default": "inherit",
                    "options": [
                        {
                            "value": "inherit",
                            "label": "t:general.animation_type.options__inherit"
                        },
                        {
                            "value": "none",
                            "label": "t:general.animation_type.options__none"
                        },
                        {
                            "value": "fadeIn",
                            "label": "t:general.animation_type.options__fadeIn"
                        },
                        {
                            "value": "fadeInUp",
                            "label": "t:general.animation_type.options__fadeInUp"
                        },
                        {
                            "value": "fadeInDown",
                            "label": "t:general.animation_type.options__fadeInDown"
                        },
                        {
                            "value": "fadeInLeft",
                            "label": "t:general.animation_type.options__fadeInLeft"
                        },
                        {
                            "value": "fadeInRight",
                            "label": "t:general.animation_type.options__fadeInRight"
                        },
                        {
                            "value": "flipInX",
                            "label": "t:general.animation_type.options__flipInX"
                        },
                        {
                            "value": "flip",
                            "label": "t:general.animation_type.options__flip"
                        },
                        {
                            "value": "zoomOut",
                            "label": "t:general.animation_type.options__zoomOut"
                        },
                        {
                            "value": "zoomIn",
                            "label": "t:general.animation_type.options__zoomIn"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "custom_class",
                    "label": "t:general.block.other_settings.custom_class.label"
                }
            ]
        },
        {
            "type": "custom_html",
            "name": "t:block.custom_html.name",
            "limit": 10,
            "settings": [
                {
                    "type": "html",
                    "id": "content",
                    "label": "t:block.custom_html.settings.content.label"
                },
                {
                    "type": "header",
                    "content": "t:general.block.other_settings.header__block_attributes"
                },
                {
                    "type": "range",
                    "id": "col_xl",
                    "label": "Col Xl (≥1200px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 6
                },
                {
                    "type": "range",
                    "id": "col_lg",
                    "label": "Col Lg (≥992px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 6
                },
                {
                    "type": "range",
                    "id": "col_md",
                    "label": "Col Md (≥768px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 12
                },
                {
                    "type": "range",
                    "id": "col_sm",
                    "label": "Col Sm (≥576px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 12
                },
                {
                    "type": "range",
                    "id": "col_xs",
                    "label": "Col Xs (<576px)",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 12
                },
                {
                    "type": "select",
                    "id": "animation_type",
                    "label": "t:general.animation_type.label",
                    "default": "inherit",
                    "options": [
                        {
                            "value": "inherit",
                            "label": "t:general.animation_type.options__inherit"
                        },
                        {
                            "value": "none",
                            "label": "t:general.animation_type.options__none"
                        },
                        {
                            "value": "fadeIn",
                            "label": "t:general.animation_type.options__fadeIn"
                        },
                        {
                            "value": "fadeInUp",
                            "label": "t:general.animation_type.options__fadeInUp"
                        },
                        {
                            "value": "fadeInDown",
                            "label": "t:general.animation_type.options__fadeInDown"
                        },
                        {
                            "value": "fadeInLeft",
                            "label": "t:general.animation_type.options__fadeInLeft"
                        },
                        {
                            "value": "fadeInRight",
                            "label": "t:general.animation_type.options__fadeInRight"
                        },
                        {
                            "value": "flipInX",
                            "label": "t:general.animation_type.options__flipInX"
                        },
                        {
                            "value": "flip",
                            "label": "t:general.animation_type.options__flip"
                        },
                        {
                            "value": "zoomOut",
                            "label": "t:general.animation_type.options__zoomOut"
                        },
                        {
                            "value": "zoomIn",
                            "label": "t:general.animation_type.options__zoomIn"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "custom_class",
                    "label": "t:general.block.other_settings.custom_class.label"
                }
            ]
        },
        {
            "type": "@app"
        }
    ],
    "presets": [
        {
            "name": "t:sections.main_collection_banner.name",
            "blocks": [
                {
                    "type": "page_title",
                    "settings": {
                        "col_xl": 12,
                        "col_lg": 12,
                        "col_md": 12,
                        "col_sm": 12,
                        "col_xs": 12,
                        "content_alignment": "center"
                    }
                },
                {
                    "type": "collection_desc",
                    "settings": {
                        "col_xl": 12,
                        "col_lg": 12,
                        "col_md": 12,
                        "col_sm": 12,
                        "col_xs": 12
                    }
                }
            ]
        }
    ]
}
{% endschema %}