@charset "UTF-8";
:root {
	--animate-duration: 1s;
	--animate-delay: 1s;
	--animate-repeat: 1
}

.animate__animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-duration: var(--animate-duration);
	animation-duration: var(--animate-duration);
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.animate__animated.animate__infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}

.animate__animated.animate__repeat-1 {
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: var(--animate-repeat);
	animation-iteration-count: var(--animate-repeat)
}

.animate__animated.animate__repeat-2 {
	-webkit-animation-iteration-count: 2;
	animation-iteration-count: 2;
	-webkit-animation-iteration-count: calc(var(--animate-repeat) * 2);
	animation-iteration-count: calc(var(--animate-repeat) * 2)
}

.animate__animated.animate__repeat-3 {
	-webkit-animation-iteration-count: 3;
	animation-iteration-count: 3;
	-webkit-animation-iteration-count: calc(var(--animate-repeat) * 3);
	animation-iteration-count: calc(var(--animate-repeat) * 3)
}

.animate__animated.animate__delay-1s {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-delay: var(--animate-delay);
	animation-delay: var(--animate-delay)
}

.animate__animated.animate__delay-2s {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-delay: calc(var(--animate-delay) * 2);
	animation-delay: calc(var(--animate-delay) * 2)
}

.animate__animated.animate__delay-3s {
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
	-webkit-animation-delay: calc(var(--animate-delay) * 3);
	animation-delay: calc(var(--animate-delay) * 3)
}

.animate__animated.animate__delay-4s {
	-webkit-animation-delay: 4s;
	animation-delay: 4s;
	-webkit-animation-delay: calc(var(--animate-delay) * 4);
	animation-delay: calc(var(--animate-delay) * 4)
}

.animate__animated.animate__delay-5s {
	-webkit-animation-delay: 5s;
	animation-delay: 5s;
	-webkit-animation-delay: calc(var(--animate-delay) * 5);
	animation-delay: calc(var(--animate-delay) * 5)
}

.animate__animated.animate__faster {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-duration: calc(var(--animate-duration) / 2);
	animation-duration: calc(var(--animate-duration) / 2)
}

.animate__animated.animate__fast {
	-webkit-animation-duration: .8s;
	animation-duration: .8s;
	-webkit-animation-duration: calc(var(--animate-duration) * 0.8);
	animation-duration: calc(var(--animate-duration) * 0.8)
}

.animate__animated.animate__slow {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-duration: calc(var(--animate-duration) * 2);
	animation-duration: calc(var(--animate-duration) * 2)
}

.animate__animated.animate__slower {
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-duration: calc(var(--animate-duration) * 3);
	animation-duration: calc(var(--animate-duration) * 3)
}


@media (prefers-reduced-motion: reduce), print {
	.animate__animated {
		-webkit-animation-duration: 1ms !important;
		animation-duration: 1ms !important;
		-webkit-transition-duration: 1ms !important;
		transition-duration: 1ms !important;
		-webkit-animation-iteration-count: 1 !important;
		animation-iteration-count: 1 !important
	}
	.animate__animated[class*=Out] {
		opacity: 0
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.animate__fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn
}


@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 30px, 0);
		transform: translate3d(0, 30px, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 30px, 0);
		transform: translate3d(0, 30px, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.animate__fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp
}



@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.animate__fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown
}



@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-30px, 0, 0);
		transform: translate3d(-30px, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-30px, 0, 0);
		transform: translate3d(-30px, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.animate__fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft
}



@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(30px, 0, 0);
		transform: translate3d(30px, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(30px, 0, 0);
		transform: translate3d(30px, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.animate__fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight
}

@-webkit-keyframes flipInX {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-15px) perspective(1200px) scale(1.1) rotateX(50deg);
		transform: translateY(-15px) perspective(1200px) scale(1.1) rotateX(50deg);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes flipInX {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-15px) perspective(1200px) scale(1.1) rotateX(50deg);
		transform: translateY(-15px) perspective(1200px) scale(1.1) rotateX(50deg);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.animate__flipInX {
	-webkit-animation-name: flipInX;
	animation-name: flipInX
}



@-webkit-keyframes animationFlip {
	0% {
		opacity: 0;
		-webkit-transform: translateY(30px) skewX(20deg);
		transform: translateY(30px) skewX(20deg);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes animationFlip {
	0% {
		opacity: 0;
		-webkit-transform: translateY(30px) skewX(20deg);
		transform: translateY(30px) skewX(20deg);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.animate__flip {
	-webkit-animation-name: animationFlip;
	animation-name: animationFlip
}


@-webkit-keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.animate__zoomIn {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn
}

@-webkit-keyframes zoomOut {
	0% {
		opacity: 0;
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes zoomOut {
	0% {
		opacity: 0;
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.animate__zoomOut {
	-webkit-animation-name: zoomOut;
	animation-name: zoomOut
}